header {

    background-image: 
    url("image/avion.jpg");
    
    
    background-size: 
    cover;
    
    background-repeat: 
    no-repeat;
    
    padding: 
    25px;
    
    }
    
    .recherche {
    
    display: 
    flex;
    
    }
    
    
    
    .explorer {
    margin-right: 
    25px;
    
    }
    
    .accueil {
    
    
    
    }
    
    h2{
    
    font-family: Circular,-apple-system,
    
    BlinkMacSystemFont,
    
    Roboto,Helvetica Neue,sans-serif
    !important;
    
    color: 
    blanchedalmond;
    
    font-size: 
    45px;
    
    }
    
    
    
    header p {
    
    
    font-family: Circular,-apple-system,
    
    BlinkMacSystemFont,
    
    Roboto,Helvetica Neue,sans-serif
    !important;
    
    color: 
    white;
    
    font-size: 
    22px;
    
    font-weight: 
    lighter;
    
    }
    
    .explorer button , .accueil button {
    border: 1px solid  black;
    
    width: 400px;
    
    height: 45px;
    
    padding: 10px 50px;
    
    border-radius: 5px;
    
    font-size: 17px;
    
    font-weight: 
    bold;
    
    background-color: 
    white;
    
    
    }
    
    .titre {
    
    margin: 
    100px;
    
    }
    
    .button {
    
    
    
    display: 
    flex;
    
    
    justify-content: 
    space-between;
    
    margin: 
    0px 132px;
    
    align-items: 
    flex-end;
    
    
    
    }
    
    main {
    
    font-size :24px;
    
    font-family: Circular,-apple-system,
    
    BlinkMacSystemFont,
    
    Roboto,Helvetica Neue,sans-serif
    !important;
    
    }
    
    button {
    
    
    
    background-color: 
    rgb(228, 
    15, 15);
    
    height: 
    30px;
    
    
    
    }
    
    input {
    
    
    
    padding: 
    11px;
    
    border-radius: 
    5px;
    
    } 
    
    
    
    .appart {
    
    
    
    display: 
    flex;
    
    
    
    }
    
    
    
    .appart 
    div {
    
    width: 
    100%
    
    }
    
    
    
    .photo {
    
    
    
    width: 
    333px;
    
    height: 
    222px;
    
    }
    
    .appart{
    
    display: 
    flex;
    
    justify-content: 
    space-around;
    
    
    
    }
    
    .reserve 
    img {
    
    width: 
    246px;
    
    height: 
    164px;
    
    
    }
    
    .reserve {
    
    display: 
    flex;
    
    }
    
    .voyager{
    
    display: 
    flex;
    
    }
    
    .date{
    
    display: 
    flex;
    
    flex-direction: 
    column;
    
    margin-top:50px;
    
    }
    
    
    
    
    
    footer{
    
    display: 
    flex;
    
    flex-direction: 
    row;
    
    justify-content: 
    space-between;
    
    
    
    }
    
    
    
    ul{
    
    
    
    list-style: 
    none;
    
    }
    
    a{
    
    text-decoration: 
    none;
    
    color: 
    black;
    
    
    }
    
    body{
    
    margin: 
    0;
    
    }
    
    
    
    header, 
    main ,footer {
    
    
    
    padding: 
    0 60px 
    0 60px;
    
    }
    
    
    
    .horaire{
    
    
    
    display: 
    flex;
    
    }
    
    
    
    
    
    h3 {
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important;
    
    font-size: 
    24px !important;
    
    color: 
    #484848 !important;
    
    
    
    }
    
    
    
    p{
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important; 
    
    font-size: 
    14px;
    
    margin: 14px 20px; 
    margin-left: 0;
    
    color:#484848;
    
    
    
    }
    
    
    
    h4{
    
    
    
    font-size: 
    16px !important; 
    
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important; 
    
    color:#484848;
    
    }
    
    
    
    .legende{
    
    font-size: 
    12px;
    
    color:#767676;
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important;
    
    }
    
    .legende2 {
    
    font-size: 
    18px;
    
    
    color:#484848;
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important;
    
    }
    
    
    
    
    
    .prix{
    
    font-size: 
    14px;
    
    color:#484848;
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important;
    
    }
    
    
    
    .avis {font-size:
    12px;
    
    color:#484848;
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important;
    
    }
    
    
    
    
    
    .soustitre{
    
    margin: 
    0px !important;
    
    word-wrap: 
    break-word !important;
    
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
    !important;
    
    font-size: 
    16px !important;
    
    font-weight: 
    400 !important;
    
    line-height: 
    1.375em !important;
    
    color: 
    #484848 !important;
    
    }
    
    
    
    .color {
    
    
    
    background:#008489;
    
    margin-top: 
    10px;
    
    font-size: 
    20px;
    
    }
    
    .reserve 
    div{
    
    
    
    width: 
    100%;
    
    }
    
    .far fa-user
    {
        color: green;
    }
    
    
    
    @media screen and ( max-width:1128px){

        .explorer button, .accueil button {
            width:100%;

            

        }
        header div div div {
            width:100%;

        }
        .titre {
            margin: 100px 0 100px 100px;
        }
    }



    