header {
background-image: url("image/avion.jpg");
height: 400px;
background-size: cover;
background-repeat: no-repeat;
padding: 25px;



}
.recherche {

display: flex;


}

.explorer {
   
    
    margin-right: 25px;

}
.accueil {
    
    
}
h2{
    font-family: Circular,-apple-system,
    BlinkMacSystemFont,
    Roboto,Helvetica Neue,sans-serif !important;
    color: blanchedalmond;
    font-size: 45px;

}

header p {
     
    font-family: Circular,-apple-system,
    BlinkMacSystemFont,
    Roboto,Helvetica Neue,sans-serif !important;
    color: white;
    font-size: 22px;
    font-weight: lighter;


}
.explorer button , .accueil button {

    border: 1px solid black;
    width: 400px;
    height: 45px;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;


}
.titre {
    margin: 100px;
}
.button {

   display: flex;
   
   justify-content: space-between;
   margin: 0px 132px;
   align-items: flex-end;
   
    
}
main  {
    font-size :24px;
    font-family: Circular,-apple-system,
    BlinkMacSystemFont,
    Roboto,Helvetica Neue,sans-serif !important;
}
button {

    background-color: rgb(228, 15, 15);
    height: 30px;
    
   
}
input {

    padding: 11px;
    border-radius: 5px;
} 

.appart {

display: flex;

}
.photo {

    width: 333px;
    height: 222px;
}
.appart{
    display: flex;
    justify-content: space-around;

}
.reserve img {
    width: 246px;
    height: 164px;
    
}
.reserve {
    display: flex;
}
 .voyager{
     display: flex;
 }
 .date{
     display: flex;
     flex-direction: column;
     margin-top:50px;
 }


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

ul{

    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    
}
body{
    margin: 0;
}

header, main ,footer {

    padding: 0 60px 0 60px;
}

.horaire{

    display: flex;
}